<div class="modal modal-signin position-static d-block">
  <div class="modal-dialog modal-xl"> <!---->

    <!-- Div about -->
    <div class="modal-content border-0">
      <div class="rounded-3 modal-body">

        <h5 class="text-center mb-3">Fuego de Quasar</h5>
        <!-- Descripción -->
        <p>Este proyecto localiza una nave imperial situada en un campo de asteroides. Para ello utilizaremos la información que reciben tres de nuestros satélites rebeldes, especificando los mensajes que cada uno de ellos capta, así como la distancia a la que se encuentran del vehículo enemigo.</p>
        <hr>
        <!-- Funcionalidades -->
        <p>Funcionalidades:</p>
        <ul>
          <li>Consulta - Se triangulará la nave enemiga. Para ello tendremos que introducir la información de nuestros satélites.</li>
          <li>Registro de consultas - Se mostrarán todas las consultas realizadas, con sus respectivas respuestas.</li>
        </ul>
        <hr>
        <!-- Tecnologías utilizadas -->
        <p>Tecnologías utilizadas:</p>
        <ul>
          <li>MySql - DDBB (guardar datos relativos a las consultas realizadas y respuestas obtenidas)</li>
          <li>Java - Back (desarrollo de la API con los métodos necesarios para tratar con la información)</li>
          <li>Angular - Front (realización de la página web)</li>
        </ul>
      </div>
    </div>


  </div>
</div>
