<div class="modal modal-signin position-static d-block">
  <div class="modal-dialog modal-xl"> <!---->

    <!-- Div formulario -->
    <div class="modal-content border-0">
      <form class="rounded-3 text-center modal-body" [formGroup]="satForm" (ngSubmit)="triangularNave()" autocomplete="off">
        <div class="row">

          <h2 class="py-3 fs-6">SATÉLITES REBELDES</h2>

          <div class="col ps-3 pe-3">
          <!-- Columna 1 -->

            <!-- SATÉLITE 1 -->
            <div class="pt-3 pb-3 mb-3 rounded-3" [ngStyle]="{'background-color': bgColorSat1}">
              <p>Satélite 1</p>
              <!-- Nombre del satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" placeholder="Introduce nombre" formControlName="Nombre1" (keyup)="updateInputs(2)">
                </mat-form-field>
              </p>
              <!-- Distancia a nave rebelde -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Distancia</mat-label>
                  <input matInput type="number" placeholder="Introduce distancia a nave rebelde" formControlName="Distancia1" (keyup)="updateInputs(2)">
                </mat-form-field>
              </p>
              <!-- Mensaje que detecta el satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Mensaje</mat-label>
                  <input matInput type="text" placeholder="Introduce mensaje detectado" formControlName="Mensaje1" (keyup)="updateInputs(2)">
                </mat-form-field>
              </p>
            </div>

            <!-- SATÉLITE 3 -->
            <div class="pt-3 pb-3 mb-3 rounded-3 bg-opacity-25" [ngStyle]="{'background-color': bgColorSat3}">
              <p>Satélite 3</p>
              <!-- Nombre del satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" placeholder="Introduce nombre" formControlName="Nombre3">
                </mat-form-field>
              </p>
              <!-- Distancia a nave rebelde -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Distancia</mat-label>
                  <input matInput type="number" placeholder="Introduce distancia a nave rebelde" formControlName="Distancia3">
                </mat-form-field>
              </p>
              <!-- Mensaje que detecta el satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Mensaje</mat-label>
                  <input matInput type="text" placeholder="Introduce mensaje detectado" formControlName="Mensaje3">
                </mat-form-field>
              </p>
            </div>

          </div>


          <div class="col ps-3 pe-3">
            <!-- Columna 2 -->

            <!-- SATÉLITE 2 -->
            <div class="pt-3 pb-3 mb-3 rounded-3 bg-opacity-25" [ngStyle]="{'background-color': bgColorSat2}">
              <p>Satélite 2</p>
              <!-- Nombre del satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" placeholder="Introduce nombre" formControlName="Nombre2" (keyup)="updateInputs(3)">
                </mat-form-field>
              </p>
              <!-- Distancia a nave rebelde -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Distancia</mat-label>
                  <input matInput type="number" placeholder="Introduce distancia a nave rebelde" formControlName="Distancia2" (keyup)="updateInputs(3)">
                </mat-form-field>
              </p>
              <!-- Mensaje que detecta el satélite -->
              <p>
                <mat-form-field hideRequiredMarker appearance="outline" class="w-75">
                  <mat-label>Mensaje</mat-label>
                  <input matInput type="text" placeholder="Introduce mensaje detectado" formControlName="Mensaje2" (keyup)="updateInputs(3)">
                </mat-form-field>
              </p>
          </div>


          <!-- NAVE IMPERIAL (RESULTADO) -->
          <div class="pt-3 pb-3 mb-3 rounded-3" [hidden]="satForm.value.Nombre1 == 'Pepe' ? true : false">
            <p>Datos de la nave imperial</p>
            <!-- TODO -->
            <p>{{ satForm.value.Nombre1 }}</p>
          </div>


        </div>
      </div>

      <!-- Triangular posición -->
      <button class="w-75 btn btnCrear m-auto mt-3" type="submit" [disabled]="!satForm.valid">Triangular posición</button>

      </form>

    </div>
  </div>
</div>
