/* Styles for triangulate button */
.btnTriangular:enabled {
  background-color: #91fcc1;
  color: black;
}

.btnTriangular, .btnTriangular:hover {
  background-color: #3e4551;
  color: white;
}

/* Separation between inputs (padding) */
.mat-form-field-wrapper {
  padding: 0px;
}


/* Styles for charging bar */
.progress-bar {
  background-color: #91fcc1;
  color: white;
}


