/* Styles for create button */
.btnCrear {
  background-color: #3e4551;
}

.btnCrear:hover {
  background-color: black;
}

.btnCrear, .btnCrear:hover {
  color: white;
}


/* Separation between inputs (padding) */
.mat-form-field-wrapper {
  padding: 0px;
}


/* Styles for satellite divs */
div p {
  width: 100%;
}

