/* Table styles */
table {
  width: 100%;
}


/* Satellite 1 styles */
.satelite1 {
  background-color: rgba(114, 247, 37, 0.7);
}


/* Satellite 2 styles */
.satelite2 {
  background-color: aquamarine;
}


/* Satellite 3 styles */
.satelite3 {
  background-color: rgb(250, 203, 115);
}

